BR2_arm=y
BR2_arm1176jzf_bcm=y
BR2_JLEVEL=9
BR2_OPTIMIZE_3=y
BR2_TOOLCHAIN_CTNG=y
BR2_TOOLCHAIN_CTNG_glibc=y
BR2_TOOLCHAIN_CTNG_experimental=y
BR2_TOOLCHAIN_CTNG_CONFIG="board/bcm/rbp/crosstool-ng.config-glibc"
BR2_TOOLCHAIN_CTNG_CXX=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_SERVER=y
BR2_PACKAGE_GDB_HOST=y
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-O3 -mfpu=vfp -mfloat-abi=hard -pipe"
BR2_TARGET_GENERIC_HOSTNAME="rbp-xbmc"
BR2_TARGET_GENERIC_ISSUE="Welcome to Raspberry PI"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_UDEV=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/bcm/rbp/skeleton"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/bcm/rbp/postbuild.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="board/bcm/rbp/busybox.config"
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_OPROFILE=y
BR2_PACKAGE_BINUTILS_TARGET=y
BR2_DBUS_LIBXML2=y
BR2_PACKAGE_DBUS_PYTHON=y
BR2_PACKAGE_UDEV_RULES_GEN=y
BR2_PACKAGE_UDEV_ALL_EXTRAS=y
BR2_PACKAGE_USBMOUNT=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_USBUTILS_ZLIB=y
BR2_PACKAGE_PYTHON_CODECSCJK=y
BR2_PACKAGE_BOOST_MULTITHREADED=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_NFS_UTILS_RPCDEBUG=y
BR2_PACKAGE_NFS_UTILS_RPC_LOCKD=y
BR2_PACKAGE_NFS_UTILS_RPC_RQUOTAD=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_PORTMAP=y
# BR2_PACKAGE_SAMBA_SWAT is not set
BR2_PACKAGE_SAMBA_LIBSMBCLIENT=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WIRELESS_TOOLS_LIB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_UTIL_LINUX_AGETTY=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_LIBCEC=y
BR2_PACKAGE_LIBCEC_RBP=y
BR2_PACKAGE_LIBPLIST=y
BR2_PACKAGE_TINYXML=y
BR2_PACKAGE_TAGLIB18=y
BR2_PACKAGE_XBMC=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="https://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="9cecb89ac95ffe8f9963250334e3df848fb3732b"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/bcm/rbp/kernel.config-3.10"
